h1{
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
}

h2{
    padding: 0 20px;
}

#map {
    height: 600px; 
    width: 100%; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 2rem; 
}

